
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(219, 219, 219);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    background: #fff;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 8rem 2rem 2rem;
}

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Side menubar section */
nav{
    background: #fff;
    border-radius: 8px;
}
.side_navbar{
    padding: 1px;
    display: flex;
    flex-direction: column;
}
.side_navbar span{
    color: gray;
    margin: 1rem 3rem;
    font-size: 12px;
}
.side_navbar a{
    width: 100%;
    padding: 0.8rem 3rem;
    font-weight: 500;
    font-size: 15px;
    color: rgb(100, 100, 100);
}
.links{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.links a{
    font-size: 13px;
}
.side_navbar a:hover{
    background: rgb(235, 235, 235);
}
.side_navbar .active{
    border-left: 2px solid rgb(100, 100, 100);
    background-color: rgb(216, 184, 156);
}

/* Main Body Section */
.promo_card{
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: rgb(37, 37, 37);
}
.promo_card h1, .promo_card span, button{
    margin: 10px;
}
.promo_card button{
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.history_lists{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 100%;
    width: 800px;
}

.history_lists img
{
    border-radius: 50%;
    width: 200;
    height: 200;
    margin-left: 38%;
}


.sidebar{
    border-radius: 8px;
    width: 15%;
    padding: 2rem 1rem;
    background: #fff;
}
.sidebar h4{
    margin-bottom: 1.5rem;
}
.sidebar .balance{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.balance .info h5{
    font-size: 16px;
}
.balance .info span{
    font-size: 14px;
    color: rgb(100, 100, 100);
}
.balance .info i{
    margin-right: 2px;
}

.information
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: rgb(139, 105, 80);
    border-style: solid;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}



